footer{
	padding-top:36px;
.h11{width:1260px; height: 70px;background: #414141;margin-top: -17px;}
.h11 ul {display: flex;justify-content: space-around;padding-top: 10px;}
.h11 ul li {float: left; color: #999;font-size: 12px;}
.h11 ul li:hover{color: white;}
.h11 .last{color: #999;font-size: 12px;margin-left: 32%;padding-top: 10px;}
}